<!DOCTYPE html>
<html lang="en">

{% include 'includes/head.html' %}

<body class="d-flex flex-column min-vh-100">

    {% include 'includes/navbar.html' %}

    {% include 'includes/messages.html' %}

    <div class="container-sm pt-5">
        <h1>About</h1>
        <p>On this page, you can read more about MindFort.</p>
        <h2>Goal</h2>
        <p>
            MindFort's primary goal is to explore the ways in which artificial intelligence can be leveraged to bolster individuals' critical thinking skills and curb the spread of misinformation.
        </p>
        <p>
            Grounded in <a href="https://en.wikipedia.org/wiki/Inoculation_theory">Inoculation Theory</a>, MindFort
            provides
            users with the knowledge and skills needed to detect and deconstruct misleading information related to specific topics. Users enhance their ability to think critically and make informed decisions in an increasingly complex information landscape.
        </p>
        <p>
            Using the anonymous data shared by users, the insights gained from this initiative aim to develop new educational techniques and a deeper understanding of human-AI interactions.
        </p>
        <h2>About Us</h2>
        <p>
            MindFort is a collaborative initiative between researchers at the University of Oulu and The University of
            Tokyo. There are two involved research groups: <a href="https://crowdcomputing.net/">Crowd Computing
                Group</a> from the University of Oulu, and <a href="https://iis-lab.org/">Interactive Intelligent
                Systems Lab</a> at The University of Tokyo. The researcher responsible for MindFort is Dániel Szabó, a
            PhD student at the University of Oulu. You can reach out directly at daniel.szabo [at] oulu.fi.
        </p>
        <h2>Feedback</h2>
        <p>
            We welcome and value your feedback as it is crucial for the continuous improvement of MindFort. Please give
            us feedback on the <a href="feedback">Feedback</a> page.
        </p>
    </div>

    {% include 'includes/footer.html' %}

</body>

<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</html>