<!DOCTYPE html>
<html lang="en">

{% include 'includes/head.html' %}

<body class="d-flex flex-column min-vh-100">
 
    {% include 'includes/navbar.html' %}

    {% include 'includes/messages.html' %}

    <div class="container-lg d-flex justify-content-center align-items-center">
        <div class="row w-100 mt-5">
            <div class="col-lg-3 ">
            </div>
            <!-- Sign In Form -->
            <div class="col-lg-6 mb-3 mb-lg-0">
                <div class="card shadow">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Sign In</h2>
                        <form action="signin" method="POST">
                            <div class="mb-3">
                                <label for="signin-email" class="form-label">Email address or username</label>
                                <input type="text" class="form-control" name="signin-email" placeholder="Enter your email address or username">
                            </div>
                            <div class="mb-3">
                                <label for="signin-password" class="form-label">Password</label>
                                <input type="password" class="form-control" name="signin-password" placeholder="Enter your password">
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Sign In</button>
                        </form>
                    </div>
                </div>

               <div class="text-center mt-4"> You don't have an account yet? <a href="/signup">Create one here</a>.</div>
            </div>
            <div class="col-lg-3 ">
            </div>

            
        </div>
    </div>

    {% include 'includes/footer.html' %}

</body>

<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</html>
