<!DOCTYPE html>
<html lang="en">

{% include 'includes/head.html' %}

<body class="d-flex flex-column min-vh-100">
 
    {% include 'includes/navbar.html' %}

    {% include 'includes/messages.html' %}


    <div class="container-sm mt-5 mb-5">
        <h1>Terms and Conditions</h1>
        <p>Last updated January 29, 2025</p>

        <div class="card m-5">
            <div class="card-body">
                <h2>TLDR;</h2>
                <b><p>
                    You may use MindFort completely anonymously if you wish. If you share any personal information, we do not share it with anyone other than the involved researchers themselves. Your data will be fully anonymised before processing or publishing. You may withdraw your consent for us to use your data, or delete it at any point. You are responsible for appropriate use of MindFort and your account may be terminated at our discretion.
                </p></b>
            </div>
        </div>

        <p>University of Oulu ('University', 'we', 'us', or 'our'), located in Finland at Pentti Kaiteran katu 1, Oulu 90570 operates the website <a href="https://mindfort.eu">https://mindfort.eu</a> (the 'Site'), as well as any other related services that refer or link to these legal terms (the 'Legal Terms') (collectively, the 'Services'). You can contact us by email at <a href="mailto:daniel.szabo@oulu.fi">daniel.szabo@oulu.fi</a> or by mail to Pentti Kaiteran katu 1, Oulu 90570, Finland.</p>
        <p>These Legal Terms constitute a legally binding agreement made between you and the University concerning your access to and use of the Services. By accessing the Services, you confirm that you have read, understood, and agreed to be bound by all of these Legal Terms. IF YOU DO NOT AGREE WITH ALL OF THESE LEGAL TERMS, THEN YOU ARE EXPRESSLY PROHIBITED FROM USING THE SERVICES AND YOU MUST DISCONTINUE USE IMMEDIATELY.</p>
        
        <p>The Services are intended for users who are at least 18 years old. Persons under the age of 18 are not permitted to use or register for the Services. </p>

        <h2>TABLE OF CONTENTS</h2>
        <ul>
            <li>1. Our Services</li>
            <li>2. User Registration</li>
            <li>3. Privacy Policy</li>
            <li>4. User Data</li>
            <li>5. Term and Termination</li>
            <li>6. Contact Us</li>
        </ul>
        
        <h3>1. Our Services</h3>
        <p>Our Services include a variety of academic and research resources. These are intended for users aged 18 and over and must be used in accordance with all applicable laws, both locally and internationally.</p>
        
        <h3>2. User Registration</h3>
        <p>Users must register to access certain features. Ensure your information is accurate and current. You are responsible for maintaining the confidentiality of your account credentials.</p>
        
        <h3>3. Privacy Policy</h3>
        <p>Your privacy is important to us. Our <a href="/privacy">Privacy Statement</a> details how we collect, use, and safeguard your information.</p>
        
        <h3>4. User Data</h3>
        <p>We manage data transmission and storage securely but are not liable for any data loss.</p>
        
        <h3>5. Term and Termination</h3>
        <p>We may suspend or terminate access to our Services at our discretion, especially if the terms are violated. </p>
        
        <h3>6. Contact Us</h3>
        <p>To resolve a complaint or obtain more information about our Services, please contact:</p>
        <address>
         University of Oulu<br>
         Pentti Kaiteran katu 1<br>
         Oulu 90570<br>
         Finland<br>
        <a href="mailto:daniel.szabo@oulu.fi">daniel.szabo@oulu.fi</a>
        </address>
        
    </div>

    {% include 'includes/footer.html' %}

</body>

<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</html>
