<!-- <footer class="text-center card rounded-0 border-0 p-3 shadow  mt-5" style="z-index: 2000;" >
  <div class="container-lg p-3">
      <div class="row align-center">
          <div class="col-4">
              <p class="text-muted"><a href="https://crowdcomputing.net">Crowd Computing Oulu</a></p>
              <p class="text-muted"><a href="https://iis-lab.org/">Interactive Intelligent Systems Lab at UTokyo / 東大矢谷研究室</a></p>
          </div>
          <div class="col-4">
              <p class="text-muted"><a href="https://github.com/Crowd-Computing-Oulu/mindfort">GitHub
                      Repository</a></p>

                      <p class="text-muted"><a
                        href="https://github.com/Crowd-Computing-Oulu/mindfort/blob/main/LICENSE">License</a></p>
          </div>

          <div class="col-4">
            <span style="font-size: x-small;">MindFort {{ version }}</span>
        </div>
      </div>
  </div>
</footer> -->